{% extends "base.html" %}

{% block content %}
<form action = "/result" method = "POST">
    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstNameId" name="firstName" aria-describedby="firstNameHelp" placeholder="James">
        <small id="firstNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastNameId" name="lastName" aria-describedby="lastNameHelp" placeholder="Dean">
        <small id="lastNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddressId" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="jdean@example.com">
        <small id="emailAddressHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="countryName">Country Name</label>
        <select class="custom-select" name="countryName" id="countryNameId">
          {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
          {% endfor %}
        </select>
    </div>

	<button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}

